<section class="card">
    <header>{{blogpost.title}}</header>
    <h2>{{blogpost.post_date}}</h2>
    <h3>{{blogpost.description}}</h3>
    <p>{{blogpost.user.username}}</p>
    <p id="post-id" class="hidden">{{blogpost.id}}</p>


    {{#each blogpost.comments as |comment|}}
    <p>{{comment.post_date}}</p>
    <p>{{comment.description}}</p>
    <p>{{comment.user.username}}</p>
    <p id="user-id" class="hidden">{{comment.user_id}}</p>
    {{/each}}
</section>

<div>
    <h2>Add a comment?</h2>
    <form class="add-comment">
        <div>
            <label>Comment here:</label>
            <input type="text" id="adding-comment">
        </div>

        <div>
            <button type="submit">submit</button>
        </div>
    </form>
</div>